body {
    display: grid;
    grid-template-columns: 20% auto minmax(0px, auto);
    grid-gap: 10px;
}

main, nav.top, nav.left, header, footer, aside {
    outline: solid 1px green;
    background-color: lightblue;
    padding: 10px;
}

h3 {
    background-color: darkgray;
    color: white;
    padding: 3px;
}

main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

nav.top {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

nav.left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

footer {
    grid-column: 1 / 4;
    grid-row: 3;   
}